.total-form-container {
  border: none;
}

legend {
  display: none;
}

.total-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.add-button,
.minus-button {
  width: 70px;
  border-radius: 50%;
  padding: 20px 15px;
  font-size: 24px;
  font-weight: 700;
}

.add-button {
  background-color: #fff;
  border: 1px solid #0a514f;
  color: #0a514f;
  margin-right: 20px;
}

.minus-button {
  background-color: #fff;
  border: 1px solid #c46868;
  color: #c46868;
}
