.total-section {
  margin-bottom: 25px;
}

.total-container {
  background-color: #1d7c54;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 0 35px 35px;
  padding: 25px;
}

.total {
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #fff;
  font-weight: 100;
  letter-spacing: 3px;
}

.list-items-section {
  background-color: #fff;
  border-radius: 35px 35px 0 0;
  margin-bottom: 50px;
  padding-bottom: 30px;
  margin-top: 50px;
}

.add-item-btn-container {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.add-item-btn {
  background-color: #0a514f;
  border: 1px solid #0a514f;
  border-radius: 50%;
  color: #fff;
  padding: 10px;
  width: 75px;
  height: 75px;
  box-shadow: 0 3px 10px 0 #000;
  font-family: "Karla", sans-serif;
}

/* Media queries */

/* Mobile Landscape */
@media (min-width: 576px) {
  .modal-content {
    height: 90vh;
  }

  .submit-item-button {
    width: 30%;
  }
}

/* Tablet Portrait */
@media (min-width: 768px) {
  .modal-content {
    width: 70%;
    height: 65vh;
  }

  .edit-item-form .submit-button {
    width: 35%;
  }

  .total-form label,
  .total-form input {
    width: 65%;
    margin: auto;
  }
}

/* Tablet landscape & some laptops/desktops */
@media (min-width: 1024px) {
  .edit-item-form .submit-button {
    width: 30%;
  }

  .edit-item-form label,
  .edit-item-form input,
  .add-item-form label,
  .add-item-form input {
    width: 75%;
    margin: auto;
  }

  .total-form label,
  .total-form input {
    width: 55%;
  }

  .nav-home-greeting {
    font-size: 20px;
  }

  .user-name {
    font-size: 36px;
  }

  .log-out-btn {
    font-size: 14px;
  }

  .error-text {
    margin: 5px 0 0 88px;
  }
}

/* Bigger Screens */
@media (min-width: 1200px) {
  .submit-item-button,
  .edit-item-form .submit-button {
    width: 25%;
    margin-top: 45px;
  }

  .modal-content {
    height: 75vh;
    width: 60%;
  }

  .total-form label,
  .total-form input {
    width: 40%;
  }

  .error-text {
    margin: 5px 0 0 100px;
  }
}
